<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AssetDB" value="assets/db.json" />
    <add key="AppSettings" value="assets/AppSettings.json" />
    <add key="LutFolder" value="../../../quantum_unity/Assets/Photon/Quantum/Resources/LUT" />
    <add key="SessionConfig" value="assets/SessionConfig.json" />
    <add key="RuntimeConfig" value="assets/RuntimeConfig.json" />
    <add key="EnterRoomParams" value="assets/EnterRoomParams.xml" />
  </appSettings>
</configuration>